
<li class="nav-header">Main Setup</li>
<li class="nav-item">
    <a asp-action="IndexFiscalYear" asp-controller="Home" asp-area="" class="nav-link">
        <i class="far fa-calendar-days nav-icon"></i>
        <p>Fiscal Year</p>
    </a>
</li>
<li class="nav-item">
    <a asp-action="SiteSetting" asp-controller="Common" asp-area="" class="nav-link">
        <i class="far fa-calendar-days nav-icon"></i>
        <p>Setup</p>
    </a>
</li>
<li class="nav-item">
    <a asp-action="Index" asp-controller="PrayogKarta" asp-area="Admins" class="nav-link">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>User Managament</p>
    </a>
</li>
<li class="nav-item">
    <a asp-action="Roles" asp-controller="PrayogKarta" asp-area="Admins" class="nav-link">
        <i class="fas fa-user-cog"></i>
        <p>Role Managament</p>
    </a>
</li>
<li class="nav-header">Newly Added</li>
<li class="nav-item">
    <a asp-area="Risk" asp-action="Index" asp-controller="RiskRegister" class="nav-link">
        <i class="far fa-exclamation-circle"></i>
         &nbsp;
        <p>Risk Register</p>
    </a>
</li>
