@model LogisticDispatchViewModel
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="SupportingFilePath" class="form-label"></label>
        <input asp-for="SupportingFile" accept="image/png, image/gif, image/jpeg, application/pdf" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.SupportingFilePath))
        {
            <a href="@Model.SupportingFilePath" target="_blank">Preview</a>
        }
        <span asp-validation-for="SupportingFile" class="text-danger"></span>
    </div>
</div>
