<!-- Collapsible: Main Setup -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#collapseMainSetup" data-bs-toggle="collapse"
       aria-expanded="false" aria-controls="collapseMainSetup">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Main Setup</span>
        <i class="fas fa-angle-down float-end"></i>
    </a>
    <div id="collapseMainSetup" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded shadow-sm">
            <a class="collapse-item" asp-action="IndexFiscalYear" asp-controller="Home">
                <i class="fas fa-calendar-days me-2"></i>Fiscal Year
                
            </a>
            <a class="collapse-item" asp-action="SiteSetting" asp-controller="Common">
                <i class="fas fa-tools me-2"></i>Setup
                
            </a>
            <a class="collapse-item" asp-action="Index" asp-controller="PrayogKarta" asp-area="Admins">
                <i class="fas fa-user-alt me-2"></i>User Management
               
            </a>
            @if (User.IsInRole("IT"))
            {
                <a class="collapse-item" asp-action="Roles" asp-controller="PrayogKarta" asp-area="Admins">
                    <i class="fas fa-user-cog me-2"></i> Role Management
                   
                </a>
            }
        </div>
    </div>
</li>

<!-- Collapsible: Newly Added -->
@if (User.IsInRole("IT") || User.IsInRole("RSuperAdmin"))
{
    <li class="nav-item">
        <a class="nav-link collapsed" href="#collapseNewlyAdded" data-bs-toggle="collapse"
           aria-expanded="false" aria-controls="collapseNewlyAdded">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>Newly Added</span>
            <i class="fas fa-angle-down float-end"></i>
        </a>
        <div id="collapseNewlyAdded" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded shadow-sm">
                <a class="collapse-item" asp-area="Admins" asp-action="Index" asp-controller="Courier">
                    <i class="far fa-clone me-2"></i>Courier Dispatch
                </a>
            </div>
        </div>
    </li>
}

<!-- Collapsible: Risk Register -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#collapseRiskRegister" data-bs-toggle="collapse"
       aria-expanded="false" aria-controls="collapseRiskRegister">
        <i class="fas fa-fw fa-exclamation-triangle"></i>
        <span>Risk Register</span>
        <i class="fas fa-angle-down float-end"></i>
    </a>
    <div id="collapseRiskRegister" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded shadow-sm">
            <a class="collapse-item" asp-area="Risk" asp-action="Index" asp-controller="RiskRegister">
                <i class="fas fa-exclamation-circle me-2"></i>Risk Register
            </a> 
            <a class="collapse-item" asp-area="Risk" asp-action="RiskReportingManual" asp-controller="RiskRegister">
                <i class="fas fa-exclamation-circle me-2"></i>Risk Reporting Manual
            </a>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#collapseVMS" data-bs-toggle="collapse"
       aria-expanded="false" aria-controls="collapseVMS">
        <i class="fas fa-fw fa-exclamation-triangle"></i>
        <span>Visitor Management</span>
        <i class="fas fa-angle-down float-end"></i>
    </a>
    <div id="collapseVMS" class="collapse">
        <div class="bg-white py-2 collapse-inner rounded shadow-sm">
            <a class="collapse-item" asp-area="VMS" asp-action="Index" asp-controller="Employee">
                <i class="bi bi-person-badge me-2"></i>Employee Register
            </a> 
            <a class="collapse-item" asp-area="VMS" asp-action="Index" asp-controller="VisitRegistration">
                <i class="bi bi-person-plus me-2"></i>Visitor Registration
            </a>
        </div>
    </div>
</li>