@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1 class="display-4">Registration Successful!</h1>
    <p>Your visit has been successfully registered. Thank you.</p>
    <a asp-controller="VisitRegistration" asp-action="CreateVisit" class="btn btn-primary">Register Another Visitor</a>
</div>