
<li class="nav-header">Main Setup</li>
<li class="nav-item">
    <a asp-action="SiteSetting" asp-controller="Common" asp-area="" class="nav-link">
        <i class="far fa-calendar-days nav-icon"></i>
        <p>Setup</p>
    </a>
</li>
<li class="nav-header">Newly Added</li>
<li class="nav-item">
    <a asp-area="Admins" asp-action="Index" asp-controller="Courier" class="nav-link">
        <i class="nav-icon far fa-clone"></i>
        <p>Courier Dispatch</p>
    </a>
</li>
